:root {
  --header-main-padding: 1.5rem;
  --default-border-radius: 0.3rem;

  --title-font-size: 2.2rem;
  --description-font-size: 1.25rem;

  --form-color: #e6e6fa;
  --form-background-color: #ee82ee50;

  --form-group-padding: 1rem;
  --form-group-margin: 1rem;

  --form-control-input-textarea-font-size: 1.125rem;

  --label-font-size: 1.125rem;

  --input-button-font-size: 1.25rem;

  --input-and-button-color: #e6e6fa;
  --input-and-button-background-color: #4b008250;

  --option-background-color: #800080;

  --form-accent-color: #800080;

  --survey-form-max-width: 48rem;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body::before {
  content: '';
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100%;

  background-color: #000355;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23000355' cx='50' cy='0' r='50'/%3E%3Cg fill='%230d0355' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%231a0354' cx='50' cy='100' r='50'/%3E%3Cg fill='%23260354' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23330254' cx='50' cy='200' r='50'/%3E%3Cg fill='%23400253' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%234d0253' cx='50' cy='300' r='50'/%3E%3Cg fill='%23590253' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23660252' cx='50' cy='400' r='50'/%3E%3Cg fill='%23730252' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23800252' cx='50' cy='500' r='50'/%3E%3Cg fill='%238c0151' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23990151' cx='50' cy='600' r='50'/%3E%3Cg fill='%23a60150' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b30150' cx='50' cy='700' r='50'/%3E%3Cg fill='%23bf0150' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23cc014f' cx='50' cy='800' r='50'/%3E%3Cg fill='%23d9004f' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23e6004f' cx='50' cy='900' r='50'/%3E%3Cg fill='%23f2004e' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23FF004E' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-position: center center;
  background-size: contain;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--form-color);
}

.header {
  text-align: center;
  padding: var(--header-main-padding);
}

#title {
  font-weight: 400;
  font-size: var(--title-font-size);
  margin-top: 2rem;
}

#description {
  margin-top: 0.8rem;
  font-style: italic;
  font-size: var(--description-font-size);
  letter-spacing: 0.02rem;
}

main {
  padding: var(--header-main-padding);
}

#survey-form {
  margin: 1rem auto 2rem auto;
  padding: 1rem;
  width: 100%;
  max-width: var(--survey-form-max-width);
  background: var(--form-background-color);
  border-radius: var(--default-border-radius);
  backdrop-filter: blur(0.2rem);
  border: 1px solid rgba(159, 0, 117, 0.2);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: var(--form-group-padding);
  margin-bottom: var(--form-group-margin);
  border: none;
}

.form-group:last-of-type {
  margin-bottom: 0;
}

.multiple-options span {
  color: var(--multiple-options-span);
}

.form-control,
.input-textarea {
  font-size: var(--form-control-input-textarea-font-size);
  font-family: inherit;
  width: 100%;
  color: var(--input-and-button-color);
  background-color: var(--input-and-button-background-color);
  border-radius: var(--default-border-radius);
  outline: none;
  border: 0;
}

.form-control {
  padding: 0.5rem;
  border: none;
}

.input-textarea {
  padding: 0.8rem;
  min-height: 8rem;
  resize: none;
}

.form-control::placeholder,
.input-textarea::placeholder {
  color: var(--input-and-button-color);
}

.input-radio,
.input-checkbox {
  transform: scale(1.4);
  margin: 0 0.5rem 0 0.2rem;
  color: var(--input-and-button-color);
}

label {
  font-size: var(--label-font-size);
}

.radio-check-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

option {
  background-color: var(--option-background-color);
}

input[type='checkbox'],
input[type='radio'] {
  accent-color: var(--form-accent-color);
}

.submit-btn {
  font-size: var(--input-button-font-size);
  background-color: var(--input-and-button-background-color);
  width: 100%;
  padding: 0.5rem;
  color: inherit;
  border-radius: var(--default-border-radius);
  border: 0;
  outline: 0;
  cursor: pointer;
  text-transform: uppercase;
}
